body{
    font-family: serif;
    font-size: 16px;
    margin: 0;
    background-color:rgb(58, 187, 29);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.input_container{
    width: 600px;
    padding: 30px;
}

.input_container .input-row{
    margin-bottom: 12px;
}

.input_container input:not([type="submit"]){
    width: 100%;
    margin: 0 0 3px;
    border-color: #d6d6d6;
    color: rgb(22, 127, 219);
    height: 50px;
}

.input_container input[type="submit"]:hover{
    background-color: aliceblue;
}

.input_container textarea{
    height: 100px;
    width: 100%;
    resize: none;
}

label.error{
    font-weight: 700;
    display: block;
    color: #f00;
    font-size: 14px;
}
