/* body{
    font-family: serif;
    font-size: 16px;
    margin: 0;
    background-color:rgb(58, 187, 29);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.input_container{
    width: 600px;
    padding: 30px;
}

.input_container .input-row{
    margin-bottom: 12px;
}

.input_container input:not([type="submit"]){
    width: 100%;
    margin: 0 0 3px;
    border-color: #d6d6d6;
    color: rgb(22, 127, 219);
    height: 50px;
}

.input_container input[type="submit"]:hover{
    background-color: aliceblue;
}

.input_container textarea{
    height: 100px;
    width: 100%;
    resize: none;
}

label.error{
    font-weight: 700;
    display: block;
    color: #f00;
    font-size: 14px;
} */

body{
    background: #eaeaea;
}

form{
    background: #fff;
    margin: 100px auto;
    width: 70%;
    padding: 15px 40px 40px 40px;
}

.tab p{
    font-size: 20px;
    margin: 0 0 10px 0;
}

input{
    margin:  10px 0;
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

.index-btn-wrapper{
    display: flex;
}

.index-btn{
    margin: 20px 15px 0 0;
    background: #04aa6d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.index-btn:hover{
    opacity: 0.8;
}

.step{
    display: inline-block;
    text-align: center;
    height: 30px;
    width: 30px;
    background: green;
    color: white;
    border-radius: 50%;
    line-height: 30px;
    margin: 0 2px;
    opacity: 0.25;
}